<app-sidebar></app-sidebar>

<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <p class="text-muted">Este módulo lista todos los productos de la tienda.</p>
      <p class="font-size-sm font-weight-medium pl-md-4">
        <a class="text-nowrap"  [routerLink]="['/panel/productos']"   >Regresar<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a></p>
    </div>
  </div>

  <div class="card box-shadow-sm">
        <div class="card-header">
            <h5 style="margin-bottom: 0px;">Inventario de  {{ producto.titulo }} </h5>
        </div>
        <div class="card-header">
            <div class="row">
                
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      
                      <th>Admin</th>  
                      <th>Cantidad</th>
                      <th>Provedor</th>
                      
                      <th>OP</th>
                    </tr>
                  </thead>
    
                </table>
            </div>
        </div>
       <!--  <div class="card-footer">
          <ngb-pagination
              [(page)]="page"
              [pageSize]="pageSize" 
              [collectionSize]="productos.length" >
          </ngb-pagination>
        </div> -->
  </div>    
                            
                                
  
                                
                                
  

                 


  